<% provide(:title, "Member Area") %>
<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<div id="user-form" class="form-margin">
			<div class="text-center">
				<h3>Sign Up</h3>
			</div>
			<%= simple_form_for @user, url: signup_path do |f| %>
				<%= f.input :full_name, label: false, placeholder: "Full Name" %>
				<%= f.input :email, label: false, placeholder: "Email" %>
				<%= f.input :password, label: false, placeholder: "Password" %>
				<%= f.input :password_confirmation, label: false, placeholder: "Password Confirmation" %>
				<%= f.button :submit, "Sign Up" %>
			<% end %>
		</div>
		<div class="text-center">
			<span>Sudah memiliki Akun?</span>
			<%= link_to "Login", login_path %>
		</div>
	</div>
</div>