<div id="account" class="row">
	<div class="account-content">
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Account Information</span>
				<span><%= link_to "Edit", "#" %></span>
					
				<div class="divider"></div>
				<ul class="box-list">
					<li>User Name</li>
					<li>User Email</li>
					<li>Last Login</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Store Information</span>
				<span><%= link_to "Edit", "#" %></span>
					
				<div class="divider"></div>
				<ul class="box-list">
					<li>Kecamatan, StoreID #</li>
					<li>Alamat</li>
					<li>Kontak</li>
					<li>Get Direction</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Addresses</span>
				<span><%= link_to "Edit", "#" %></span> | <span><%= link_to "Create", "#" %></span>
					
				<div class="divider"></div>
				<ul class="box-list">
					<li>Nama Penerima</li>
					<li>Alamat</li>
					<li>Provinsi, Kecamatan, Kota, Kodepos</li>
					<li>Kontak</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Newsletter</span>
				<span><%= link_to "Edit", "#" %></span>
					
				<div class="divider"></div>
				<p>Currently your not registered to our newsletter</p>
			</div>
		</div>

	</div>
</div>