<div id="account" class="row">
	<div class="account-content">
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Account Information</span>
				<span><%= link_to "Edit", "#" %></span>
					
				<div class="divider"></div>
				<ul class="box-list">
					<li>User Name</li>
					<li>User Email</li>
					<li>Last Login</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Store Information</span>
				<span><%= link_to "Edit", "#" %></span>
					
				<div class="divider"></div>
				<ul class="box-list">
					<li>Kecamatan, StoreID #</li>
					<li>Alamat</li>
					<li>Kontak</li>
					<li>Get Direction</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Addresses</span>
				<span><%= link_to "Edit", "#" %></span> | <span><%= link_to "Create", "#" %></span>
					
				<div class="divider"></div>
				<ul class="box-list">
					<li>Nama Penerima</li>
					<li>Alamat</li>
					<li>Provinsi, Kecamatan, Kota, Kodepos</li>
					<li>Kontak</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="account-box">
				<span class="title">Newsletter</span>
				<span><%= link_to "Edit", "#" %></span>
					
				<div class="divider"></div>
				<p>Currently your not registered to our newsletter</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="logistic-box">
				<h3>Logistic Information</h3>
				<div class="divider"></div>
				<ul class="logistic-list">
					<li>
						<div class="list-box col-md-12" data-toggle="collapse" href="#detailsTransaction-orderid1" aria-expanded="false">
							<div class="col-md-7">
								<div class="logistic-info">
									<h5>INV/DATE/KODEPRODUKORSERVICE/INVNUMBER</h5>
									<span>Transaction Date: 31 July 2016 | Total: Rp. 200.000</span>
								</div>
							</div>
							<div class="col-md-5">
								<div class="text-right">
									<label>Status Pesanan</label>
									<label>Jenis Pesanan</label>
									<span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
								</div>
							</div>
						</div>
						<div class="col-md-12 details-content collapse" id="detailsTransaction-orderid1">
						 	<table> 
					 			<tbody> 
					 				<tr class="list-info"> 
					 					<td>
					 						<div class="info-box">
					 							<label>Ship To:</label>
						 						<p>
						 							<strong>Name Penerima</strong>
						 							Toko material 57 Jln. Raya kodau rawa bogo Rt 004 Rw 007 Kp sawah jatiwarna 
													kecamatan ,kabupaten, provinsi, kodepos
													Kontak: 082938182xxx
						 						</p>
					 						</div>
				 						</td> 
					 					<td>
					 						<div class="info-box">
						 						<strong>Payment Information :<label>Metode Pembayaran</label> </strong>
						 						<div class="info-pay">
						 							<span>Subtotal</span>
						 							<p>Rp. 200,000</p>
						 						</div>
						 						<div class="info-pay">
						 							<span>Shipping</span>
						 							<p>Rp. 10,000</p>
						 						</div>
						 						<div class="info-pay">
						 							<span>Fee</span>
						 							<p>Rp. 10,000</p>
						 						</div>
						 						<div class="info-pay">
						 							<strong>Total</strong>
						 							<p><strong>Rp. 220,000</strong></p>
						 						</div>
											</div>
										</td> 
				 					</tr> 
		 						</tbody> 
	 						</table>
	 						<table class="table"> 
		 						<thead> 
		 							<tr> 
		 								<th>Items</th> 
		 								<th>Qty</th> 
		 								<th>Harga</th> 
		 								<th>Subtotal</th>
	 								</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<td><img src="..." alt="..." class="img-rounded"></td>
										<td>Qty Produk</td> 
										<td>Harga Satuan</td> 
										<td>Subtitak</td> 
									</tr> 
									<tr> 
										<td><img src="..." alt="..." class="img-rounded"></td>
										<td>Qty Produk</td> 
										<td>Harga Satuan</td> 
										<td>Subtitak</td> 
									</tr> 
								</tbody>
							</table>
						</div>
					</li>
					<li>
						<div class="list-box col-md-12" data-toggle="collapse" href="#detailsTransaction-orderid2" aria-expanded="false">
							<div class="col-md-7">
								<div class="logistic-info">
									<h5>INV/DATE/KODEPRODUKORSERVICE/INVNUMBER</h5>
									<span>Transaction Date: 31 July 2016 | Total: Rp. 200.000</span>
								</div>
							</div>
							<div class="col-md-5">
								<div class="text-right">
									<label>Status Pesanan</label>
									<label>Jenis Pesanan</label>
									<span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
								</div>
							</div>
						</div>
						<div class="col-md-12 details-content collapse" id="detailsTransaction-orderid2">
						 	<table> 
					 			<tbody> 
					 				<tr class="list-info"> 
					 					<td>
					 						<div class="info-box">
					 							<label>Ship To:</label>
						 						<p>
						 							<strong>Name Penerima</strong>
						 							Toko material 57 Jln. Raya kodau rawa bogo Rt 004 Rw 007 Kp sawah jatiwarna 
													kecamatan ,kabupaten, provinsi, kodepos
													Kontak: 082938182xxx
						 						</p>
					 						</div>
				 						</td> 
					 					<td>
					 						<div class="info-box">
						 						<strong>Payment Information :<label>Metode Pembayaran</label> </strong>
						 						<div class="info-pay">
						 							<span>Subtotal</span>
						 							<p>Rp. 200,000</p>
						 						</div>
						 						<div class="info-pay">
						 							<span>Shipping</span>
						 							<p>Rp. 10,000</p>
						 						</div>
						 						<div class="info-pay">
						 							<span>Fee</span>
						 							<p>Rp. 10,000</p>
						 						</div>
						 						<div class="info-pay">
						 							<strong>Total</strong>
						 							<p><strong>Rp. 220,000</strong></p>
						 						</div>
											</div>
										</td> 
				 					</tr> 
		 						</tbody> 
	 						</table>
	 						<table class="table"> 
		 						<thead> 
		 							<tr> 
		 								<th>Items</th> 
		 								<th>Qty</th> 
		 								<th>Harga</th> 
		 								<th>Subtotal</th>
	 								</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<td><img src="..." alt="..." class="img-rounded"></td>
										<td>Qty Produk</td> 
										<td>Harga Satuan</td> 
										<td>Subtitak</td> 
									</tr> 
									<tr> 
										<td><img src="..." alt="..." class="img-rounded"></td>
										<td>Qty Produk</td> 
										<td>Harga Satuan</td> 
										<td>Subtitak</td> 
									</tr> 
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>