<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<div id="user-form" class="form-margin">
			<div class="text-center">
				<h3>Login</h3>
			</div>
			<%= simple_form_for :session, url: login_path do |f| %>
				<%= f.input :email, label: false, placeholder: "Email" %>
				<%= f.input :password, label: false, placeholder: "Password" %>
				<%= f.button :submit, "Login" %>
			<% end %>
			<div class="link-signup text-center">
				<span>Tidak mempunyai Akun?</span>
				<%= link_to "Sign Up", signup_path %>
			</div>
		</div>
	</div>
</div>