<%= simple_form_for [:admin, @product], html: { class: "form-horizontal", multipart: true}, wrapper: :horizontal_form do |f| %>
  <div class="page-main-container field field-image">
    <h2>Images</h2>
    <div id="image-container" class="images">
      <div class="image image-placeholder">
        <i class="fa fa-camera" aria-hidden="true"></i>
        <%= f.fields_for :product_images, html: { multipart: true } do |builder| %>
          <%= render "product_images", f: builder %>
        <% end %>
        <p class="image-placeholder-text">Click here to add images.</p>
      </div>
    </div>
  </div>
  <div class="page-main-container product-detail">
    <h2>Product Details</h2>
    <%= f.input :name, require: false %>
    <span>kategori</span>
    <%= f.input :sku %>
    <%= f.input :model %>
    <%= f.input :price %>
    <%= f.input :description %>
    <span>Spesification</span>
  </div>

  <div class="page-main-container product-shipping">
    <h2>Shipping Options</h2>
  </div>

  <div class="page-main-container">
    <%= link_to "Back", admin_products_path, class: "btn btn-default" %>
    <%= f.button :submit, yield(:button), class: "btn btn-primary" %>
  </div>
<% end %>
