<%= simple_form_for [:admin, @product], html: { class: "form-horizontal", multipart: true}, wrapper: :horizontal_form do |f| %>
  <div class="page-main-container field field-image">
    <h2>Images</h2>
    <div id="image-container" class="images">
        <%= f.fields_for :product_images do |builder| %>
          <%= render "product_images", f: builder %>
        <% end %>
    </div>
  </div>
  <div class="page-main-container product-detail">
    <h2>Product Details</h2>
    <%= f.input :name, require: false %>
    <span>kategori</span>
    <%= f.input :sku %>
    <%= f.input :model %>
    <%= f.input :price %>
    <%= f.input :description %>
    <div class="form-group text required product-specification">
        <label class="text required col-sm-3 control-label">Specification</label>
        <div class="col-md-9">
          <%= f.fields_for :product_specifications do |builder| %>
            <%= render 'product_specification', f: builder %>
          <% end %>
          <%= link_to_add_fields "Add New Table", f, :product_specifications %>
        </div>
       
    </div>
  </div>

  <div class="page-main-container product-shipping">
    <h2>Shipping Options</h2>
  </div>

  <div class="page-main-container">
    <%= link_to "Back", admin_products_path, class: "btn btn-default" %>
    <%= f.button :submit, yield(:button), class: "btn btn-primary" %>
  </div>
<% end %>
