<div class="menu-wrapper text-center">
	<%= link_to (image_tag "admin/admin-logo"), admin_root_path %> 
	<nav class="admin-menu" role="navigation">
 		<ul id="nav" role="menu-bar">
 			<li class="item-dashboard level-0">

 				<%= link_to admin_root_path do %>
 					<i class="fa fa-tachometer" aria-hidden="true"></i>
 					<span>Dashboard</span>
 				<% end %>
 			</li>
 			<li class="item-sales parent level-0">
 				<a role="button" data-toggle="collapse" href="#collapseSales" data-parent="#adminNav" aria-expanded="false" aria-controls="collapseSales">
 					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				 	<span>Sales</span>
				</a>
				<div id="collapseSales" class="submenu text-left level-0">
 					<strong class="submenu-title">Products</strong>
 					<ul class="level-1" role="menu">
 						<li class="parent">
 							<strong class="submenu-group-title" role="presentation"><span>Order</span></strong>
 							<div class="submenu">
	 							<ul>
	 								<li>
	 									<%= link_to "Order", "#" %>
	 								</li>
	 								<li>
	 									<%= link_to "order", "#" %>
	 								</li>
	 							</ul>
	 						</div>
 						</li>
 					</ul>
 				</div>
				
 			</li>
 			<li class="item-product parent level-0">
 			<a role="button" data-toggle="collapse" href="#collapseProducts" data-parent="#adminNav" aria-expanded="false" aria-controls="collapseProducts">
 					<i class="fa fa-th-large" aria-hidden="true"></i>
				 	<span>Products</span>
				</a>
 				<div id="collapseProducts" class="submenu text-left level-0">
 					<strong class="submenu-title">Products</strong>
 					<ul class="level-1" role="menu">
 						<li class="parent">
 							<strong class="submenu-group-title" role="presentation"><span>Inventory</span></strong>
 							<div class="submenu">
	 							<ul>
	 								<li>
	 									<%= link_to "Catalog", admin_products_path %>
	 								</li>
	 								<li>
	 									<%= link_to "Category", admin_categories_path %>
	 								</li>
	 							</ul>
	 						</div>
 						</li>
 					</ul>
 				</div>
 			</li>
 			<li class="item-customer parent level-0">

 				<%= link_to "#" do %>
 					<i class="fa fa-users" aria-hidden="true"></i>
 					<span>Customers</span>
 				<% end %>
 			</li>
 			<li class="item-marketing parent level-0">

 				<%= link_to "#" do %>
 					<i class="fa fa-bullhorn" aria-hidden="true"></i>
 					<span>Marketing</span>
 				<% end %>
 			</li>
 			<li class="item-report parent level-0">

 				<%= link_to "#" do %>
 					<i class="fa fa-bar-chart" aria-hidden="true"></i>
 					<span>Reports</span>
 				<% end %>
 			</li>
 			<li class="item-report parent level-0">

 				<%= link_to "#" do %>
 					<i class="fa fa-map" aria-hidden="true"></i>
 					<span>Stores</span>
 				<% end %>
 			</li>
 		</ul>
	</nav>
</div>

